@import "../../../styles/styles";

.modal-header {
  .modal-title {
    display: flex;
    flex-direction: row;
  }
  .player-info {
    width: 100%;
    background: $col-dark-purple url('../../../assets/images/player_bg.svg') no-repeat right top -66px;
    .info-container{
      @extend .player-container-box-shadow;
      display: flex;
      justify-content: space-between;
      border-radius: .3em;
      padding: .7em;
      .general-info {
        display: flex;
        flex-direction: column;
        color: $col-white;
        @extend .medium-font;
        .player-team {
          @extend .small-font;
          margin: .3em 0;
          background: $col-turquoise;
          color: $col-dark-purple;
          border-radius: .2em;
          text-align: center;
        }
      }
      .image-container {
        margin-right: .3em;
        img {
          height: 5em;
          width: 5em;
          border-radius: 5px;
        }
      }
    }
  }
}
.modal-body {
  .match-stats {
    background: $col-light-green;
    margin-top: .5em;
    border-radius: 5px;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: $col-dark-purple;
  }
  .tabs-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    .nav {
      @extend .nav-wrapper;
    }
    .nav-pills .nav-link {
      @extend .nav-item;
    }
    .nav-pills .nav-link.active {
      @extend .nav-item-active;
    }
  }
}

