.side-buttons {
  .buttons-container {
    position: absolute;
    top: 15%
  }
  .teams-buttons-container {
    display: flex;
    flex-direction: column;
  }
}

.bottom-frame {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.hide {
  display: none;
}
