@import "../../styles/styles";

.live-games-container {
  @extend .gradient-green;
  border: 1px solid $col-dark-grey;
  padding: .3em;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .3em;
  .games-table-container {
    padding: .3em;
    .league-name {
      @extend .gradient-purple;
      td {
        border-radius: 5px;
        padding:.3em;
      }
    }
    .match-row {
      td {
        padding: 5px;
      }
      .team-name, .info {
        cursor: pointer;
      }
    }
  }
  .stats-close {
    height: 2em;
    font-weight: bold;
    cursor: pointer;
  }
}
