@import "../../styles/styles";

.live-games-container {
  @extend .gradient-green;
  font-weight: bold;
  border: 1px solid $col-dark-grey;
  padding: .3em;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .3em;
  .games-table-container {
    padding: .3em;
    .league-name {
      background: rgb(150,60,255);
      background: linear-gradient(31deg, rgba(150,60,255,1) 9%, rgba(132,53,222,1) 20%, rgba(138,55,233,1) 78%, rgba(50,20,67,1) 100%);
      td {
        border-radius: 5px;
        padding:.3em;
      }
    }
    .match-row {
      td {
        padding: 5px;
      }
      .team-name, .info {
        cursor: pointer;
      }
    }
  }
  .stats-close {
    font-weight: bold;
    cursor: pointer;
  }
}
