@import "../../styles/styles";

.modal-header {
  flex-direction: column;
  .modal-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: .3em;
  }
}
.nav-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  .nav {
    @extend .nav-wrapper;
  }
  .nav-pills .nav-link {
    @extend .nav-item;
  }
  .nav-pills .nav-link.active {
    @extend .nav-item-active;
  }
}
.modal-body {
  .stats-header {

  }
  .stats-body {
    .lineups-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
