@import "variables";

.player-container-box-shadow {
  -webkit-box-shadow: 5px 5px 21px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px -9px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 21px -9px rgba(0,0,0,0.75);
}

.gradient-green {
  font-weight: bold;
  color: $col-white;
  background: rgb(34,137,78);
  background: linear-gradient(304deg, $col-dark-green 4%, $col-light-green 100%);
}

.gradient-purple {
  color: $col-white;
  font-weight: bold;
  background: rgb(150,60,255);
  background: linear-gradient(31deg, rgba(150,60,255,1) 9%, rgba(132,53,222,1) 20%, rgba(138,55,233,1) 78%, rgba(50,20,67,1) 100%);
}

.medium-font {
  font-weight: bold;
  font-size: 1.15em;
}

.small-font {
  font-size: .75em;
  font-weight: bold;
}

.nav-wrapper {
  border: 2px solid $col-light-purple !important;
  border-radius: 3px;
}
.nav-item {
  color: $col-dark-grey;
  border-radius: 0 !important;
}
.nav-item-active {
  background: $col-light-purple !important;
  color: white ;
}
