$col-white: white;
$col-dark-purple: #321443;
$col-light-purple: #963cff;
$col-light-green: #46fe87;
$col-dark-green: #22894e;
$col-turquoise: #4df1ff;
$col-dark-grey: #2F2F2F;
$col-yellow: #ebff00;
$col-red: #ea2951;
$mobile-bp: 400px
