@import "../../styles/styles";

.player-container{
  @extend .gradient-turquoise;
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer;
  padding-right: .3em;
  font-weight: bold;
  color: $col-dark-grey;
  .player-image {
    img {
      height: 3em;
      width: 3em;
    }
  }
  .player-name {
      padding: .2em;
  }
}

.player-container-row {
  padding: .5em .2em;
  .player-name {
    border-bottom: 1px solid lightgray;
  }
}
